footer.footer
    div(class='footer__company')
        span office@celexport.com
        span © 2022 by Celexport. All rights reserved.
    div(class='footer__social')
        span (62) 821 - 9545 - 4562
        div
            a(href='mailto:office@celexport.com' target='_blank')
                svg(class='social__icon social__icon--email')
                    use(xlink:href='./img/social.svg#email')
            a(href='https://wa.me/6283138256440?text=Hello%20Celexport!' target='_blank')
                svg(class='social__icon social__icon--whatsapp')
                    use(xlink:href='./img/social.svg#whatsapp-3')
            a(href='https://linkedin.com/company/celexport' target='_blank')
                svg(class='social__icon social__icon--linkedin')
                    use(xlink:href='./img/social.svg#linkedin')